<!DOCTYPE html>
<html lang="en">
<head>
    <title>Big5 Assessment</title>
</head>
<body>
    <h1>Big5 Assessment</h1>
    <form method="post">
        {% csrf_token %}
        <p>I am the life of the party.</p>
        {{ form.EXT1 }}
        <p>I don't talk a lot.</p>
        {{ form.EXT2 }}
        <p>I feel comfortable around people.</p>
        {{ form.EXT3 }}
        <p>I keep in the background.</p>
        {{ form.EXT4 }}
        <p>I start conversations.</p>
        {{ form.EXT5 }}
        <p>I have little to say.</p>
        {{ form.EXT6 }}
        <p>I talk to a lot of different people at parties.</p>
        {{ form.EXT7 }}
        <p>I don't like to draw attention to myself.</p>
        {{ form.EXT8 }}
        <p>I don't mind being the center of attention.</p>
        {{ form.EXT9 }}
        <p>I am quiet around strangers.</p>
        {{ form.EXT10 }}
        <p>I get stressed out easily.</p>
        {{ form.EST1 }}
        <p>I am relaxed most of the time.</p>
        {{ form.EST2 }}
        <p>I worry about things.</p>
        {{ form.EST3 }}
        <p>I seldom feel blue.</p>
        {{ form.EST4 }}
        <p>I am easily disturbed.</p>
        {{ form.EST5 }}
        <p>I get upset easily.</p>
        {{ form.EST6 }}
        <p>I change my mood a lot.</p>
        {{ form.EST7 }}
        <p>I have frequent mood swings.</p>
        {{ form.EST8 }}
        <p>I get irritated easily.</p>
        {{ form.EST9 }}
        <p>I often feel blue.</p>
        {{ form.EST10 }}
        <p>I feel little concern for others.</p>
        {{ form.AGR1 }}
        <p>I am interested in people.</p>
        {{ form.AGR2 }}
        <p>I insult people.</p>
        {{ form.AGR3 }}
        <p>I sympathize with others' feelings.</p>
        {{ form.AGR4 }}
        <p>I am not interested in other people's problems.</p>
        {{ form.AGR5 }}
        <p>I have a soft heart.</p>
        {{ form.AGR6 }}
        <p>I am not really interested in others.</p>
        {{ form.AGR7 }}
        <p>I take time out for others.</p>
        {{ form.AGR8 }}
        <p>I feel others' emotions.</p>
        {{ form.AGR9 }}
        <p>I make people feel at ease.</p>
        {{ form.AGR10 }}
        <p>I am always prepared.</p>
        {{ form.CSN1 }}
        <p>I leave my belongings around.</p>
        {{ form.CSN2 }}
        <p>I pay attention to details.</p>
        {{ form.CSN3 }}
        <p>I make a mess of things.</p>
        {{ form.CSN4 }}
        <p>I get chores done right away.</p>
        {{ form.CSN5 }}
        <p>I often forget to put things back in their proper place.</p>
        {{ form.CSN6 }}
        <p>I like order.</p>
        {{ form.CSN7 }}
        <p>I shirk my duties.</p>
        {{ form.CSN8 }}
        <p>I follow a schedule.</p>
        {{ form.CSN9 }}
        <p>I am exacting in my work.</p>
        {{ form.CSN10 }}
        <p>I have a rich vocabulary.</p>
        {{ form.OPN1 }}
        <p>I have difficulty understanding abstract ideas.</p>
        {{ form.OPN2 }}
        <p>I have a vivid imagination.</p>
        {{ form.OPN3 }}
        <p>I am not interested in abstract ideas.</p>
        {{ form.OPN4 }}
        <p>I have excellent ideas.</p>
        {{ form.OPN5 }}
        <p>I do not have a good imagination.</p>
        {{ form.OPN6 }}
        <p>I am quick to understand things.</p>
        {{ form.OPN7 }}
        <p>I use difficult words.</p>
        {{ form.OPN8 }}
        <p>I spend time reflecting on things.</p>
        {{ form.OPN9 }}
        <p>I am full of ideas.</p>
        {{ form.OPN10 }}
        <button type="submit">Submit</button>


    </form>
</body>
</html>